
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}



<form>
    <input type="text" name="email" placeholder="Email" required="">
    <input type="password" name="password" class="lock" placeholder="Password">
    <input type="submit" name="Sign In" value="Login">
</form>